{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>This is Index Template with an image from staticfiles</h1>
hello from develop
<br>
<img src="{% static 'cat_image.jpg' %}" alt="My image">
<br>
<img src="{% static 'cat3.jpg' %}" alt="My image">
<br>
<img src="{% static 'cat4.jpg' %}" alt="My image">
<br>
<img src="{% static 'cat5.jpg' %}" alt="My image">
<br>
<img src="{% static 'cat6.png' %}" alt="My image">
<br>
<img src="{% static 'cat6b.jpg' %}" alt="My image">

</body>
</html>